<div class="text-center text-sm text-gray-700 <%= 'print:hidden' if Avo.configuration.hide_layout_when_printing %>">
  <a href="/" target="_blank">HealthyHabit</a> · &copy; <%= Date.today.year %> v1.0.0
</div>
